CompileFlags:
  Add:
    - -std=c++26
    - -D_DEBUG
    - -IC:/GLFW/glfw-3.4/include
    - -IC:/MyPrograms/GameEngine/Core/Public
    - -IC:/MyPrograms/GameEngine/Interface
    - -IC:/MyPrograms/GameEngine/Editor
    - -IC:/MyPrograms/GameEngine/Core
    - -IC:/MyPrograms/GameEngine/Vulkan
    - -IC:/VulkanSDK/1.4.341.1/Include
  Remove:
    - -W*
    - -w

---
If:
  PathMatch: Editor/.*
CompileFlags:
  Add:
    - -D_CONSOLE
    - -DGE_HOST_EDITOR
    - -include
    - C:/MyPrograms/GameEngine/Editor/absuse.hxx

---
If:
  PathMatch: Core/.*
CompileFlags:
  Add:
    - -DGE_BUILD_CORE

---
If:
  PathMatch: Vulkan/.*
CompileFlags:
  Add:
    - -D_WINDOWS
    - -DGLFW_DLL
    - -DGE_PLUGIN
    - -include
    - C:/MyPrograms/GameEngine/Core/Public/EngineDefines.hxx
    - -include
    - C:/MyPrograms/GameEngine/Core/Public/EngineLog.hxx
    - -include
    - C:/MyPrograms/GameEngine/Core/Public/EngineDebug.hxx
    - -include
    - C:/MyPrograms/GameEngine/Core/Public/EngineMemory.hxx

---
If:
  PathMatch: Game/.*
CompileFlags:
  Add:
    - -D_CONSOLE
    - -DGE_HOST_GAME
    - -include
    - C:/MyPrograms/GameEngine/Core/Public/EngineDefines.hxx
    - -include
    - C:/MyPrograms/GameEngine/Core/Public/EngineLog.hxx
    - -include
    - C:/MyPrograms/GameEngine/Core/Public/EngineDebug.hxx
    - -include
    - C:/MyPrograms/GameEngine/Core/Public/EngineMemory.hxx
